<%= layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-10 offset-1">
        <div class="card mb-2 mx-auto" style="width: 50%; height: 50%;">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%=err.message%></h4>
                <% if(process.env.NODE_ENV !=="production") { %> 
                <p><%= err.stack %></p>
                <% } %> 
            </div>
            <a href="/campgrounds/"><img src="https://res.cloudinary.com/kjstore/image/upload/v1609966600/Something_went_wrong_udbky2.jpg" class="card-img-top" alt="..."></a>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <% if(process.env.NODE_ENV !=="production") { %> 
            <p><%= err.stack %></p>
            <% } %> 
        </div>
    </div>
</div> -->

